body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #da6c6c;
}
.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}
h1 {
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 10px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 20px;
}
.card {
  border: 1px solid #000000;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
  background-color: #77ffc6;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.03);
}

.product-image {
  border: 1px solid #000000;
  width: 80%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;       /* sudut gambar juga dibulatkan */
  margin-bottom: 10px;
}
.card h2 {
  margin: 0 0 8px;
  font-size: 1.2rem;
}
.card p {
  margin: 4px 0;
  color: #555;
}
.price {
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 10px;
}
.btn {
  margin-top: 12px;
  background-color: #ff7f50;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}
.btn:hover {
  background-color: #ff5722;
}
.cart {
  margin-top: 40px;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.cart h2 {
  margin-bottom: 10px;
}
#cart-items {
  list-style: none;
  padding: 0;
}
#cart-items li {
  margin-bottom: 6px;
}
